@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------- 
top nav and swiper css
-----------------------------*/

/* top nav css animation start */
.top-nav-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}
.top-nav-text:first-of-type {
  animation: showup 7s infinite;
}

.top-nav-text:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.top-nav-text:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
  text-align: center;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 355px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 355px;
  }
}
/* top nav css animation end */

/* Banner Background Image */
.bannerBG-1 {
  background-image: url("./assets/banner/banner1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .bannerBG-1 {
    background-image: url("./assets/banner/banner1.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bannerBG-2 {
  background-image: url("./assets/banner/banner3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .bannerBG-2 {
    background-image: url("./assets/banner/banner3.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bannerBG-3 {
  background-image: url("./assets/banner/banner2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 600px) {
  .bannerBG-3 {
    background-image: url("./assets/banner/banner2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.bannerBG-4 {
  background-image: url("./assets/banner/banner4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px) {
  .bannerBG-4 {
    background-image: url("./assets/banner/banner4.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
